<footer class="footer">
    <small>
         The
        <%= link_to "Ruby on Rails Tutorial",
         'https://www.railstutorial.org'%> by <%= link_to "alex shyaka", 
         'http://www.alexshyaka.com'%>
    </small>
    
    <nav>
        <ul>
            <li>
                <%= link_to "Home",'#'%>
            </li>
            <li>
                <%= link_to "Help",'#'%>
            </li>
            <li>
                <%= link_to "About",'#'%>
            </li>
            <li>
                <%= link_to "Contact us",'#'%>
            </li>
            <li>
                <%= link_to "Sign in",'#'%>
            </li>
        </ul>
    </nav>
    
</footer>